functionality:
  name: remove_comments
  namespace: demo
  arguments:
    - name: "--input"
      alternatives: [ "-i" ]
      type: file
      required: true
      example: "file.tsv"
    - name: "--output"
      alternatives: [ "-o" ]
      type: file
      required: true
      direction: output
      example: "file.tsv"
    - type: string
      name: --id
      default: "remove_comments"
  resources:
  - type: bash_script
    path: script.sh
  test_resources:
  - type: bash_script
    path: test.sh
platforms:
  - type: docker
    image: bash:4.0
  - type: nextflow
