name: remove_comments
namespace: template

arguments:
  - name: "--input"
    alternatives: [ "-i" ]
    type: file
    required: true
    example: "file.tsv"
  - name: "--output"
    alternatives: [ "-o" ]
    type: file
    required: true
    direction: output
    example: "file.tsv"
  
resources:
  - type: bash_script
    path: script.sh

test_resources:
  - type: bash_script
    path: test.sh
  
engines:
  - type: docker
    image: ubuntu:20.04

runners:
  - type: executable
  - type: nextflow
