name: viash build CI

on:
  push:
    branches: [ 'main' ]

jobs:
  # phase 1
  list_components:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
    - uses: actions/checkout@v2

    - uses: viash-io/viash-actions/setup@v1

    - name: Build target dir
      run: |
        # allow publishing the target folder
        sed -i '/^target.*/d' .gitignore

        # build target dir
        viash ns build --config_mod ".functionality.version := 'main_build'" --parallel  --setup donothing

    - name: Deploy to target branch
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: .
        publish_branch: main_build

    - id: set_matrix
      run: |
        echo "::set-output name=matrix::$( viash ns list -p docker --format json | jq -c '[ .[] | .info.config ]' )"

    outputs:
        matrix: ${{ steps.set_matrix.outputs.matrix }}

  # phase 2
  build_containers:
    needs: list_components

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    strategy:
      fail-fast: false
      matrix:
        component_path: ${{ fromJson(needs.list_components.outputs.matrix) }}

    steps:
    - uses: actions/checkout@v2

    - uses: viash-io/viash-actions/setup@v1

    - name: Build container
      run: |
        SRC_DIR=`dirname ${{ matrix.component_path }}`
        viash ns build --config_mod ".functionality.version := 'main_build'" -s "$SRC_DIR" --setup build
        
    - name: Login to container registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GTHB_PAT }}

    - name: Push containers
      run: |
        viash build ${{ matrix.component_path }} -p docker --config_mod ".functionality.version := 'main_build'"  --setup push
